table{
  width: 100%;
}

.B{
  padding: auto;
}

button{
  font-size:1em ;
  padding: 0.01em 0.3em;
}

@media(min-width: 800px){
  table{
  grid-column: 2/3;
  }

  body{
    display: grid;
    grid-template-columns:1fr 5fr 1fr;
  }
}

/* grid ~599px */
@media(max-width: 799px){

  table{
  width: 100%;
  table-layout: fixed;
  word-break: break-word;
  }

}